/*============================
		General Style
==============================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'Thinking Of Betty';
    src: url('assets/fonts/ThinkingOfBetty.woff2') format('woff2'),
        url('assets/fonts/ThinkingOfBetty.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Medium.woff2') format('woff2'),
        url('assets/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Medium.woff2') format('woff2'),
        url('assets/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Light.woff2') format('woff2'),
        url('assets/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-XLight.woff2') format('woff2'),
        url('assets/fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Thin.woff2') format('woff2'),
        url('assets/fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Black.woff2') format('woff2'),
        url('assets/fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Bold.woff2') format('woff2'),
        url('assets/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('vGotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/Gotham-Light.woff2') format('woff2'),
        url('assets/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('assets/fonts/HelveticaNeue.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'Gotham';
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    color: #666;
    background: #fff;
    overflow-x: hidden;
    font-weight: 300;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

img {
    max-width: 100%;
    height: auto;
}

/*============================
		Typography
==============================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none !important;
    color: #343536;
}

a:focus {
    outline: 0 solid
}

a:hover {
    text-decoration: none
}

p {
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #888;
    line-height: 24px;
    font-weight: 400;
    left: -1px;
    margin-top: 20px;
}

/*============================
		Header CSS
==============================*/

.header-sec {
    position: relative;
    height: 900px;
}

.header-sec:before {
    position: absolute;
    content: "";
    top: -25%;
    left: 0;
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center bottom;
    background-image: url(./assets/imagesHQ/bg-2d@2x.png);
    /*    transform: skewY(5deg);*/
}


.info-sec:after {
    position: absolute;
    content: "";
    top: -80%;
    left: 37%;
    width: 100%;
    height: 128%;
    background-image: url(./assets/imagesHQ/bg/yellow@2x.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    background: red;
    position: relative;
}

.header-top ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.header-top li {
    display: inline-block;
    padding: 15px 5px;
    color: #fff;
}

.ex {
    background: #fff;
    color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.header-top a {
    color: #fff;
}

.header-top i {
    font-size: 15px;
}

.header-top .fa-home {
    font-size: 20px;
}

/*=============================
		Navigation area css
==============================*/



.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 11px 15px;
}

.navbar-brand > img {
    margin-top: -35px;
}

.navbar-brand h1 {
    font-size: 31px;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.navbar-default {
    background: rgba(0, 0, 0, 0.20);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 15px 0;
    border-radius: 0;
    z-index: 12;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

.sticky-header {
    background: #fff;
    padding: 10px 0;
    border-bottom: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.sticky-header .navbar-brand h1 {
    color: #303030;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Helvetica Neue';
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
    padding: 17px 15px 13px;
    position: relative;
}

.navbar-default .navbar-nav > li > a:after {
    content: '';
    display: block;
    width: calc(100% - 30px);
    height: 3px;
    background: red;
    position: absolute;
    bottom: 0px;
    left: 15px;
    transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover:after {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
}

.active a {
    background: none !important;
    color: #fff !important;
}

.sticky-header .navbar-nav > li > a {
    color: #303030;
}

.sticky-header .navbar-nav > li > a:hover {
    color: #303030;
}

.sticky-header .navbar-nav > li > a:focus {
    color: #303030;
}

.sticky-header .active a {
    background: none !important;
    color: #303030 !important;
}

.navbar-default .active a:after {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
}

.btn-custom {
    display: inline-block;
    background: red;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 16px 30px 14px;
    border-radius: 2px;
    transition: all 0.4s;
}

/*============================
		More Img  CSS
==============================*/
.more-img-sec {
    padding-bottom: 100px;
    text-align: center;
}

.more-img-sec .col-md-4 {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 40px;

}

.col-md-3 {
    position: relative;
}

.more-img-sec img {
    width: 90%;
}

.img-seven img,
.img-four img,
.img-two img {
    position: relative;
    bottom: -150px;
}

.img-ten,
.img-eleven {
    margin-top: 120px;
}

.img-one {
    margin-top: 140px;
}

.img-one a,
.info-logo a {

    font-family: 'Thinking Of Betty';
    color: #C99D4F;
    font-size: 60px;
    line-height: 60px;
    font-style: italic;
}

/*============================
		Nove  CSS
==============================*/
.nove-sec {
    background: url(assets/imagesHQ/bg/dark@2x.jpg) no-repeat;
    background-size: cover;
    padding: 75px 0;
    padding-bottom: 0;
    z-index: 999;
    position: relative;
    /*    border-top: 4px solid #817E44;*/
}

.nove-sec:after {
    position: absolute;
    content: '';
    left: 48%;
    top: -3px;
    height: 50px;
    width: 100px;
    background: url(assets/imagesHQ/bg/3-03.png) no-repeat;
}

.nove-sec h2 {
    color: #817E44;
    margin-bottom: 50px;
    font-size: 30px;
    margin-top: 0;
    text-align: center;
}

.sinlge-nove {
    padding: 10px;
    margin-bottom: 25px;
    height: 170px;
    background: #F6F1D4;
}

.sinlge-nove img {
    width: 100%;
}

.nove-sec h3,
.nove-sec h6,
.nove-sec p {

    color: #817E44;
}

.nove-sec h3 {
    font-size: 15px;
    margin-top: 0;
    font-weight: 700;
}

.nove-sec h6 {
    margin-top: -8px;
    margin-bottom: -18px;
}

.nove-sec p {
    line-height: 15px;
    font-size: 12px;
    margin-top: 25px;
}
.leer {
    background: #807E45;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top: 35px;
}
.nove-bottom {
    background: url(assets/imagesHQ/bg/05.png) no-repeat;
    padding-top: 200px;
    width: 100%;
    background-size: cover;
    padding-bottom: 75px;
    text-align: center;
}

.nove-bottom ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nove-bottom li {
    display: inline-block;
}

.ex-img {
    width: 297px;
    margin-top: -50px;
    height: 350px;
}

p.saludable {

    font-family: 'Thinking Of Betty';
    color: #fff;
    font-size: 80px;
    line-height: 60px;
    font-style: italic;
    padding-bottom: 0;
    margin-bottom: 15px;
}

p.saludable-mb {

    font-family: 'Thinking Of Betty';
    color: #fff;
    font-size: 80px;
    line-height: 60px;
    font-style: italic;
    padding-bottom: 0;
    margin-bottom: 15px;
}

p.saludable-mb {
    display: none;
}

/*============================
		Info  CSS
==============================*/
.info-sec {
    position: relative;
}


.info-sec:before {
    position: absolute;
    content: "";
    top: -37%;
    left: 0%;
    width: 100%;
    height: 1126px;
    background-image: url(./assets/imagesHQ/bg/white@2x.png);
    background-size: cover;
    background-position: center;
    transform: skewY(13deg);
    z-index: 1;
}

.info-bg {
    position: relative;
    z-index: 999;
}

.info-main {
    position: relative;
    z-index: 999;
    margin-top: -50px;
}

.info-text-one {
    position: absolute;
    top: 100px;
    width: 150px;
    left: 49%;
}

.info-main img {
    width: 100%;
}

.info-sec h3 {
    color: #fff;
    font-size: 13px;
}

.info-sec p {
    margin-top: -13px;
    line-height: 13px;
    font-size: 9px;
    color: #fff;
}

.info-text-two {
    position: absolute;
    top: 268px;
    width: 150px;
    left: 62.5%;
}

.info-text-three {
    position: absolute;
    top: 450px;
    width: 150px;
    left: 62%;
}

.info-text-four {
    position: absolute;
    top: 625px;
    width: 150px;
    left: 50%;
}

.info-logo {
    margin-top: -275px;
}

/*============================
		Tra Sec CSS
==============================*/
.tra-sec {
    position: relative;
    padding-bottom: 100px;
    z-index: 999;
}

.tra-sec p {
    color: #C99E50;
    font-size: 15px;
}

.tra-sec h2 {
    color: #C99E50;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0;
}

.tra-sec:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/imagesHQ/bg/off-white@2x.jpg);
    background-size: cover;
    padding: 75px 0;
}

.tra-text {
    margin-bottom: 75px;
    padding-top: 70px;
}

.tra-box {
    width: 220px;
    background: #fff;
    padding: 10px;
    padding-top: 20px;
    position: relative;
    -webkit-box-shadow: 0px 14px 12px -2px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 14px 12px -2px rgba(0, 0, 0, 0.72);
}

.tra-box p {
    line-height: 15px;
    font-size: 12px;
}

.tra-box img {
    width: 60%;
}

.tra-box-one {
    border-bottom: 15px solid #12525A;
    margin-left: 18%;
}

.tra-box-one:after {
    position: absolute;
    content: '';
    height: 100px;
    width: 5px;
    background: #12525A;
    left: 50%;
    bottom: -100px;
}

.tra-box-two {
    border-bottom: 15px solid #8E9E17;
    margin-left: 105%;
}

.tra-box-two:after {
    position: absolute;
    content: '';
    height: 100px;
    width: 5px;
    background: #8E9E17;
    left: 50%;
    bottom: -100px;
}

.tra-box-three {
    border-bottom: 15px solid #EF3A1D;
    margin-left: 192%;
}

.tra-box-three:after {
    position: absolute;
    content: '';
    height: 100px;
    width: 5px;
    background: #EF3A1D;
    left: 50%;
    bottom: -100px;
}

.tra-box-four {
    border-bottom: 15px solid #21BDBC;
    margin-left: 112%;
}

.tra-box-four:after {
    position: absolute;
    content: '';
    height: 100px;
    width: 5px;
    background: #21BDBC;
    left: 50%;
    top: -100px;
}

.tra-box-five {
    border-bottom: 15px solid #FF9D28;
    margin-left: 205%;
}

.tra-box-five:after {
    position: absolute;
    content: '';
    height: 100px;
    width: 5px;
    background: #FF9D28;
    left: 50%;
    top: -100px;
}

.tra-sec ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tra-sec li {
    float: left;
    text-align: center;
}

.circle-img {
    display: block;
    padding-top: 30px;
    position: relative;
    z-index: 999;
}

.circle-img li {
    width: 18%;
}

.tra-first-list {
    float: left;
}

.tra-first-list li {
    display: inline-block;
    float: none;
}

ul.tra-second-list {
    padding-top: 30px;
}

.circle-img li {
    display: inline-block;
    float: none;
}

.circle-img-br {
    height: 7px;
    width: 96%;
    background: #BFBFBF;
    position: absolute;
    top: 55%;
}

.circle-img-br:after {
    position: absolute;
    background: #BFBFBF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    content: '';
    left: -25px;
    top: -8px;
}

.circle-img-br:before {
    position: absolute;
    background: #BFBFBF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    content: '';
    right: -25px;
    top: -8px;
}

/*============================
		Filosofia CSS
==============================*/
.filosofia-sec {
    background-image: url(./assets/imagesHQ/bg/white@2x.png);
    background-size: cover;
    padding: 75px 0;
    text-align: center;
    position: relative;
}

.filosofia-sec:after {
    background: #ffa751;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259, #ffa751);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259, #ffa751);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    content: '';
    height: 7px;
    width: 100%;
    top: 0;
    left: 0;

}

.filosofia-sec h2 {
    color: #C99E50;
    font-size: 30px;
    margin-bottom: 100px;
}

.filo-box {
    background: #fff;
    border-bottom: 10px solid #D1B995;
    border-top: 10px solid #CBCBCB;
    margin: 25px;
    padding: 15px;
    padding-top: 0;
}

.filo-box h3 {
    background: #C99E50;
    color: #fff;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    font-size: 20px;
    width: 120%;
    margin-left: -10%;
    margin-top: -60px;
}

.filo-image img {
    width: 100%;
    position: relative;
}

.filosofia-sec h3 {
    color: #fff;
    font-size: 18px
}

.filosofia-sec p {
    color: #fff;
    line-height: 15px;
    margin-top: -10px;
}

.text-one {
    position: absolute;
    top: 150px;
    width: 200px;
    left: 31%;
}

.text-one {
    position: absolute;
    top: 150px;
    width: 200px;
    left: 33%;
}

.text-two {
    position: absolute;
    top: 300px;
    width: 200px;
    left: 16%;
}

.text-three {
    position: absolute;
    top: 455px;
    width: 200px;
    left: 20%;
}

.text-four {
    position: absolute;
    top: 553px;
    width: 180px;
    left: 36%;
}

.text-five {
    position: absolute;
    top: 553px;
    width: 180px;
    left: 55%;
}

.filo-box p {
    color: #777;
    line-height: 20px;
    margin-top: 10px;
}

/*============================
		Calidid CSS
==============================*/

.calidad-sec {
    background: url(assets/imagesHQ/bg/dark@2x.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0;
}

.calidad-sec:after {
    background: #ffa751;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259, #ffa751);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259, #ffa751);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    content: '';
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0;

}

.calidad-sec h2 {
    color: #C99E50;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.cal-text-box {
    background: #fff;
    border-bottom: 10px solid #D1B995;
    padding: 15px;
    margin: 0 15px;
    position: relative;
}

.cal-text-box p b {
    color: #444;
}

.cal-text-box:before {
    position: absolute;
    content: '';
    height: 50px;
    width: 5px;
    background: #D1B995;
    left: 49%;
    top: -50px;

}

.cal-image img {
    position: relative;
    z-index: 999;
}

.calidad-sec .row {
    position: relative;
}

.long-border {
    height: 7px;
    width: 100%;
    background: #D1B995;
    position: absolute;
    top: 34%;
}

.long-border:after {
    position: absolute;
    background: #D1B995;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    content: '';
    left: -25px;
    top: -8px;
}

.long-border:before {
    position: absolute;
    background: #D1B995;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    content: '';
    right: -25px;
    top: -8px;
}

/*============================
		Blog CSS
==============================*/

.blog-sec {
    background: url(assets/imagesHQ/bg/off-white@2x.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}

.blog-sec:after {
    background: #ffa751;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259, #ffa751);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259, #ffa751);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    content: '';
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0;

}

.blog-sec p {
    color: #C99E50;
    font-size: 15px;
}

.blog-sec h4 {
    color: #C99E50;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0;
}

.blog-sec h2 {
    color: #C99E50;
    font-size: 20px;
}

.bolg-border {
    text-align: center;
    padding: 25px;
    background: url(assets/imagesHQ/border.png) no-repeat;
    background-size: contain;
    background-position: center;

}

.bolg-border h3 {
    font-size: 22px;
    color: #C99E50;
}

.single-blog {
    margin-top: 0px;
}

.blog-img img {
    margin-bottom: -65px;
    width: 30%;
    margin-top: 50px;
}

.single-blog img {
    width: 100%;
    border: 5px solid #F5F1D3;
}

.bolg-border h2 {
    text-align: left;
    font-size: 15px;
}

.single-blog a {
    font-weight: 700;
    color: red;
    text-align: center;
}

/*============================
		Foooter CSS
==============================*/

.footer-sec {
    background: #FF010C;
    padding: 45px 0;
}

.footer-top-logo {
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}

.footer-top-logo img {
    width: 15%;
}

.footer-top-logo:after {
    position: absolute;
    content: '';
    background: #fff;
    height: 2px;
    width: 43%;
    left: 0;
    top: 55px;
}

.footer-top-logo:before {
    position: absolute;
    content: '';
    background: #fff;
    height: 2px;
    width: 43%;
    right: 0;
    top: 55px;
}

.footer-sec a,
.footer-sec h3,
.footer-sec h2,
.footer-sec p {
    color: #fff;
}

.footer-sec h3,
.footer-sec h2 {
    margin-top: 15px;
}

.footer-sec ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-sec li {
    line-height: 25px;
}

.footer-social-icon {
    padding: 25px 0;
    position: relative;
}

.footer-social-icon:after {
    position: absolute;
    content: '';
    background: #fff;
    height: 2px;
    width: 43%;
    left: 0;
    top: 55px;
}

.footer-social-icon:before {
    position: absolute;
    content: '';
    background: #fff;
    height: 2px;
    width: 43%;
    right: 0;
    top: 55px;
}

.footer-social-icon li {
    display: inline-block;
    font-size: 30px;
    padding: 15px;
}

/*============================
    Foooter-two CSS
==============================*/

.footer-sec-two {
    background: url(assets/imagesHQ/bg/footer-bg@2x.jpg) no-repeat;
    padding: 50px 0;
    background-size: cover;
}

.footer-sec-two a,
.footer-sec-two h3,
.footer-sec-two p,
.footer-sec-two li {
    color: #fff;
}


.footer-sec-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-sec-two li {
    display: inline-block;
}

.foot-two-list a {
    text-transform: uppercase;
    font-size: 12px;
}

.foot-two-list li {
    padding: 5px;
}

.footer-social-icon-two {
    margin-top: 35px;
}

.footer-social-icon-two i {
    font-size: 25px;
    padding: 10px;
}
