/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand > img {
        margin-top: -25px;
        margin-left: -50px;
    }

    .navbar-right {
        margin-top: -50px;
    }

    .more-img-sec:after {
        top: -46%;
        left: 54%;
        width: 136%;
        height: 43%;
    }

    .more-img {
        margin-top: -420px;
    }

    .more-img-sec:before {
        top: -275px;
        transform: skewY(22deg);
    }

    .sinlge-nove {
        height: auto;
        margin-bottom: 25px;
    }

    .sinlge-nove img {
        height: 200px;
        margin-bottom: 20px;
    }

    .ex-img {
        margin-top: -110px;
    }

    .ex-img-three {
        height: auto;
    }

    .info-sec:after {
        top: -120%;
    }

    .info-sec:before {
        top: -75%;
        transform: skewY(15deg);
    }

    .info-text-one {
        top: 50px;
    }

    .info-text-two {
        top: 158px;
    }

    .info-text-three {
        top: 270px;
    }

    .info-text-four {
        top: 385px;
    }

    .long-border {
        display: none;
    }

    .circle-img-br {
        width: 90%;
        top: 85%;
        left: 4%;
    }

    .tra-box-one {
        margin-left: -10%;
        top: -30px;
    }

    .tra-box-two {
        margin-left: 10%;
        top: -30px;
    }

    .tra-box-three {
        margin-left: 30%;
        top: -30px;
    }

    .tra-box-four {
        margin-left: 50%;
    }

    .tra-box-five {
        margin-left: 74%;
    }

    .footer-social-icon:before,
    .footer-social-icon:after {
        width: 35%;
    }

    .footer-top-logo img {
        width: 30%;
    }

    .footer-top-logo:before,
    .footer-top-logo:after {
        top: 40px;
        width: 38%;
    }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .info-main{
        margin-top: 0;
    }
    p.saludable {
        display: none;
    }

    .header-top {
        text-align: center;
    }

    .header-sec {
        height: 450px;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand > img {
        margin-top: -25px;
    }

    .header-sec:after {
        top: 50%;
        left: 7%;
    }

    .more-img-sec:before,
    .more-img-sec:after {
        display: none;
    }

    .more-img img {
        width: 70%;
        margin-bottom: 20px;
    }


    .header-top li {
        padding: 5px;
    }

    .header-top li:nth-child(5) {
        display: none;
    }

    .more-img {
        margin-top: 25px;
    }

    .info-sec h3 {
        font-size: 10px;
    }

    .info-text-one {
        top: 42px;
        width: 100px;
    }

    .info-text-two {
        top: 125px;
        width: 100px;
    }

    .info-text-three {
        top: 215px;
        width: 100px;
    }

    .info-text-four {
        top: 303px;
        width: 100px;
    }

    .info-sec p {
        margin-top: -7px;
        line-height: 9px;
        font-size: 7px;
    }

    .header-sec:before {
        top: 0;
        height: 450px;
    }

    .info-logo {
        margin-top: 25px;
        text-align: center;
    }

    .img-one a,
    .info-logo a {
        font-size: 40px;
        line-height: 40px;
    }

    .info-sec:after {
        display: none;
    }

    .nove-sec:after {
        left: 35%;
    }

    .info-sec:before {
        top: 0;
        transform: none;
    }

    .info-main {
        width: 200%;
        margin-left: -53%;
    }

    .img-seven img,
    .img-four img,
    .img-two img {
        position: relative;
        bottom: 0px;
    }

    .filo-image {
        width: 140%;
        left: -18%;
        position: relative;
    }

    .filosofia-sec h3 {
        font-size: 10px;
    }

    .filosofia-sec p {
        line-height: 10px;
        font-size: 10px;
    }

    .text-one {
        top: 65px;
        width: 100px;
        left: 34%;
    }

    .text-two {
        top: 150px;
        width: 100px;
        left: 8%;
    }

    .text-three {
        top: 240px;
        width: 100px;
        left: 12%;
    }

    .text-four {
        top: 285px;
        width: 80px;
        left: 37%;
    }

    .text-five {
        top: 295px;
        width: 84px;
        left: 63%;
    }

    .img-ten,
    .img-eleven {
        margin-top: 0px;
    }

    .img-one {
        margin-top: 0px;
    }

    .ex-img {
        width: auto;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .nove-bottom {
        padding-top: 425px;
        margin-top: -350px;
    }

    .tra-box {
        margin-left: 0;
        margin-bottom: 200px;
        position: relative;
    }

    .sinlge-nove {
        height: auto;
    }

    .sinlge-nove img {
        height: 150px;
        margin-bottom: 20px;
    }

    .circle-img-br {
        display: none;
    }

    .circle-img {
        display: none;
    }

    .ex-img-three {
        height: auto;
        margin-top: 30px;
    }

    .tra-sec li {
        float: none;
        display: inline-block;
    }

    .tra-box-five {
        text-align: center;
    }

    .tra-box-five:after {
        top: 100%;
        bottom: -100px !important;
    }

    .tra-box-four:after {
        top: 100%;
        bottom: -100px !important;
    }

    .tra-box-one:before {
        position: absolute;
        content: '';
        background: url(../imagesHQ/tra/1939-02@2x.png) no-repeat;
        background-size: cover;
        height: 125px;
        width: 125px;
        bottom: -189px;
        left: 19%;
        z-index: 999999;
    }

    .tra-box-two:before {
        position: absolute;
        content: '';
        background: url(../imagesHQ/tra/1956-02@2x..png) no-repeat;
        background-size: cover;
        height: 125px;
        width: 125px;
        bottom: -189px;
        left: 20%;
        z-index: 999999;
    }

    .tra-box-three:before {
        position: absolute;
        content: '';
        background: url(../imagesHQ/tra/2014-02@2x..png) no-repeat;
        background-size: cover;
        height: 125px;
        width: 125px;
        bottom: -189px;
        left: 20%;
        z-index: 999999;
    }

    .tra-box-four:before {
        position: absolute;
        content: '';
        background: url(../imagesHQ/tra/1960-02@2x..png) no-repeat;
        background-size: cover;
        height: 125px;
        width: 125px;
        bottom: -189px;
        left: 20%;
        z-index: 999999;
    }

    .tra-box-five:before {
        position: absolute;
        content: '';
        background: url(../imagesHQ/tra/2008-02@2x..png) no-repeat;
        background-size: cover;
        height: 125px;
        width: 125px;
        bottom: -189px;
        left: 20%;
        z-index: 999999;
    }

    .filo-box {
        margin-bottom: 80px;
    }

    .calidad-sec {
        padding: 50px 0;
    }

    .long-border {
        display: none;
    }

    .footer-sec {
        text-align: center;
    }

    .footer-top-logo img {
        width: 100%;
    }

    .footer-top-logo:after,
    .footer-top-logo:before {
        display: none;
    }

    .footer-social-icon:before,
    .footer-social-icon:after {
        display: none;
    }

    .blog-img img {
        margin-bottom: -49px;
        width: 100%;
    }

    .single-blog a {
        padding-left: 15px;
    }

    .copy-right-text p {
        padding: 0 20px;
        font-size: 12px;
        line-height: 15px;
    }

    .more-img-sec {
        background: url(../images/bg-2/1-02.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .img-one {
        margin-top: 25px;
    }

    p.saludable-mb {
        display: block;
        font-size: 50px;
    }
    .bolg-border {
        background: none;
    }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .nove-sec:after {
        left: 45%;
    }

    .info-text-one {
        top: 75px;
    }

    .info-text-two {
        top: 210px;
    }

    .info-text-three {
        top: 350px;
    }

    .info-text-four {
        top: 480px;
    }

    .filosofia-sec h3 {
        font-size: 13px;
    }

    .filosofia-sec p {
        line-height: 12px;
        font-size: 11px;
    }

    .text-one {
        top: 130px;
        width: 150px;
        left: 28%;
    }

    .text-two {
        top: 250px;
        width: 150px;
    }

    .text-three {
        top: 400px;
        width: 150px;
    }

    .text-four {
        top: 475px;
        width: 110px;
    }

    .text-five {
        top: 475px;
        width: 115px;
    }

    .info-logo img {
        margin: 0 auto;
        text-align: center;
        display: -webkit-box;
    }
}
